<ion-view title="Order Details">
    <ion-nav-title class="orders-show-title">
        <span class="address">
            {{$ctrl.order.address.description.substring(0, ",")}}
        </span>
        <span class="distance">
            {{$ctrl.order.distance}}
        </span>
    </ion-nav-title>
  <ion-content class="orders-show-view">
      <br>
      <div class="order-summary container">
          <div class="row">
              <div class="col form-title">
                  Order Summary
              </div>
          </div>
          <div ng-repeat="product in $ctrl.order.products" class="row">
              <div class="col-30 product-image">
                  <img src="{{product.image ? product.image : 'http://jasonsliquor.com/media/catalog/product/cache/1/small_image/142x180/17f82f742ffe127f42dca9de82fb58b1/b/e/belvedere_750ml.jpg'}}" alt="">
                  
              </div>
              <div class="col-70 product-description">
                  <span class="quantity">{{$ctrl.order.qty[$index]}}</span>
                  <span class="description">{{product.Description}}</span>
                  <span class="price">${{product.PriceB}}  ea</span>

              </div>
          </div>
            <div class="row">
                <div class="col form-title">
                  Delivery Notes/Apartment #
              </div>
            </div>
            <div class="row">
                <div class="col notes-text">
                    <span>{{$ctrl.order.deliveryNote || 'N/A'}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col form-title">
                  Delivery Details
              </div>
            </div>
            <div class="row">
                <div class="col notes-text">
                    Customer: <span>{{$ctrl.order.owner.name.first}} {{$ctrl.order.owner.name.last}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Address: {{$ctrl.order.address.description}}
                </div>
            </div>
            <div class="row">
                <div class="col notes-text">
                    Email: <span>{{$ctrl.order.owner.email}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col notes-text">
                    DoB: <span>{{$ctrl.order.owner.dob}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col notes-text">
                    Phone: <span>{{$ctrl.order.owner.phone}}</span>
                </div>
            </div>
          <div class="spacer"></div>
      </div>
  </ion-content>
          <div  ng-click="$ctrl.action($ctrl.order.status == 'Assigned' ? 'accept' : 'start')" class="accept-container container">
              <div class="row">
                  <div class="col text text-center">
                      <p class="call-to-action">TAP TO {{$ctrl.order.status == 'Assigned' ? 'ACCEPT' : 'START DELIVERY'}}</p>
                      <p class="customer-name">{{$ctrl.order.owner.fullName}}</p>
                  </div>
              </div>
          </div>
</ion-view>
