<ion-view view-title="Login">
  <ion-content class="login-view">
      <div class="container hero-container">
        <img src="img/jasons-logo-big-3x.png" alt="">
      </div>
      <form ng-submit="$ctrl.login(email, password)" class="login-form container">
        <div class="list">
            <label class="item item-input">
                <input ng-model="email" type="email" placeholder="Email">
            </label>
            <label class="item item-input">
                <input ng-model="password" type="password" placeholder="Password">
            </label>
            <button type="submit" class="button button-dark">
                LOG IN
            </button>
        </div>
      </form>
      <div class="login-error">
        <p>{{$ctrl.error}}</p>
      </div>
  </ion-content>
</ion-view>
