<ion-view>
    <ion-content class="orders-scan-view">
        <div class="container">
            <div class="row clear-formatting">
                <div class="col-100 stock-picture">
                    <img id="scanner-image" src="img/area.jpeg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col button-container">
                    <button ng-click="$ctrl.scan()"><i class="icon ion-ios-checkmark-outline"></i></button>
                    <button ng-click="$ctrl.retakePicture()"><i class="icon ion-ios-refresh-outline"></i></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
