<ion-view title="{{$ctrl.view}}">
    <ion-content class="orders-view">
        <button class="button button-passive" ng-click="$ctrl.goToCurrent()">Current Order</button>
        <button class="button button-passive" ng-click="$ctrl.toggleView()">{{$ctrl.switchView}}</button>
    
        <div ng-if="$ctrl.view === 'Assigned'">
            <orders-list status="Assigned"></orders-list>
        </div>

        <div ng-if="$ctrl.view === 'Accepted'">
            <orders-list status="Accepted"></orders-list>
        </div>
    </ion-content>
</ion-view>
