<ion-view>
    <ion-content>
        <button class="button button-passive" ng-click="$ctrl.goToOrders()">Orders List</button>
        Current Order Goes Here
        {{$ctrl.currentOrder._id}}
        <div>Map Goes Here With link to maps app</div>
        <div>Product List Goes Here</div>
        <div>Call Owner</div>
        <button class="button button-assertive">Cancel</button>
        <button class="button button-passive" ng-click="$ctrl.startScan()">Scan Id</button>
    </ion-content>
</ion-view>
