<ion-view title="Order Details">
    <ion-nav-title class="orders-show-title">
        <span class="address">
            {{$ctrl.order.address.description}}
        </span>
        <span class="distance">
            {{$ctrl.order.distance}}
        </span>
    </ion-nav-title>
  <ion-content class="orders-show-view">
      <div class="orders-current-view">
          <div class="container map-container">
            <div class="row clear-formatting">
                <div class="col clear-formatting">
                    <ng-map center="{{$ctrl.curr}}">
                        <directions
                        draggable="true"
                        travel-mode="DRIVING"
                        origin="{{$ctrl.curr}}"
                        destination="{{$ctrl.dest}}">
                        </directions>
                    </ng-map>
                </div>
            </div>
        </div>
        <div class="container notes-container">
            <div class="row">
                <div class="col notes-title">
                    <span>Delivery Notes</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Address: {{$ctrl.currentOrder.address.description}}
                </div>
            </div>
            <div class="row">
                <div class="col notes-text">
                    <span>{{$ctrl.currentOrder.deliveryNotes}}</span>
                </div>
            </div>
        </div>
        <div class="container notes-container">
            <div class="row">
                <div class="col notes-title">
                    <span>Delivery Details</span>
                </div>
            </div>
            <div class="row">
                <div class="col notes-text">
                    Customer: <span>{{$ctrl.currentOrder.owner.fullName}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col notes-text">
                    Email: <span>{{$ctrl.currentOrder.owner.email}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col notes-text">
                    DoB: <span>{{$ctrl.currentOrder.owner.dob}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col notes-text">
                    Phone: <span>{{$ctrl.currentOrder.owner.phone}}</span>
                </div>
            </div>
        </div>
        <!--<div class="container call-customer-container">
            <div class="row">
                <div class="col text">
                    <span ng-click="$ctrl.callCustomer($ctrl.currentOrder)" class="call-to-action">TAP TO CALL</span>
                    <span class="customer-name">{{$ctrl.currentOrder.owner.name.first + " " + $ctrl.currentOrder.owner.name.last}}</span>
                </div>
                <div class="col-20 telephone-icon-container">
                    <i class="icon ion-ios-telephone-outline"></i>
                </div>
            </div>
        </div>-->
        <div ng-click="$ctrl.startScan()" class="container verify-info-container">
            <div class="notes-container">
                 <div class="row">
                    <div class="col notes-title">
                        <span>Finalize</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text">
                        <span class="call-to-action">VERIFY INFO</span>
                    </div>
                    <div class="col-20 arrow-container">
                        <i class="icon ion-ios-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container call-to-action-container" >
            <div class="row">
                <div class="col-40">
                    <button ng-click="$ctrl.toggleNote()" class="button">NO ANSWER</button>
                </div>
                <div class="col-40">
                    <button ng-click="$ctrl.toggleNote()" class="button">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
